<!doctype html>
<html>
<head>
<title>Lyv - {% block title %}{% endblock %}</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>
<body>
	{% block javascript %}{% endblock %}

<div id='headbox'><table><tr><td><img src='/static/logo.png'></td><!--<td><a href='http://golyv.com/'>Homepage</a></td>-->{% if settings['loggedin'] %}<td><a href='/post'>Post Event</a></td><td><a href='/viewevents'>View Events</a></td><td><a href='/{{ settings['username'] }}/settings'>{{ settings['username'] }}</a></td><td><a href='/logout'>Log Out</a></tr></table>{% else %}<td><a href='/register'>Register</a></td><td><a href='/login'>Login</a></td></tr></table>{% endif %} </div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>